body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 1px solid #141313;
    border-radius: 5px solid white;
    padding: 10px;
    width: 250px;
}

#display {
    width: 100%;
    font-size: 20px;
    text-align: right;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.equal {
    grid-column: span 2;
}

.operator {
    background-color: #f39c12;
    color: white;
}

body{
    background-color: aquamarine;
}

