*{
    margin:0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}


div{
    color: rgb(157, 101, 48);
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px 10px;
    padding: 10px 20px;
    
}

button{
    color:white;
    background-color: black;
}