body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: darkgray;
  border-radius: 10px;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #201818;
  border-radius: 5px;
  text-align: left;
  width: 400px;
  box-shadow: 20px 10px 20px 10px rgb(28, 100, 134);
  background-color: white;
  height: 450px;
}

h1 {
  text-align: center;
}

button {
  display: block;
  margin-top: 10px;
  background-color: greenyellow;
  text-align:right;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}