*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(84, 35, 130);
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 80%;
    text-align: center;
    margin: 40px;
    border: 5px outset rgb(255, 255, 255);
    background: hsl(240, 0%, 46%);
}

h1{
    margin: 10px;
    padding: 20px;

}

button{
    background-color: rgb(77, 214, 77);
    color: white;
    width: 150px;
    height: 50px;
}